html {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*, *::before, *::after{
    box-sizing: border-box;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* header */
header {
    background-image: url(/images/header-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: var(--header-height);
}

.header-container {
    display: flex;
    color: #ffffff;
    height: 180px;
}

.logo-header {
    margin-left: 10px;
    height: 80px;
    border: solid 2px white;
    background-color: #303235;
    font-weight: bold;
    text-align: center;
    flex-shrink: 0;
}

.search-container {
    float: left;
    margin-right: auto;
    margin-top: 15px;
    margin-left: 15px;
    flex-grow: 1;
}

.search-container input[type="text"] {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px 0px 0px 20px;
    border: solid 1px;
    border-right: none;
    width: 90%;
    height: 40px;
    text-indent: 10px;
    font-size: 1.2rem;
}

input:focus {
    outline: none;
}

.search-container button {
    float: right;
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0px 20px 20px 0px;
    border: solid 1px;
    border-left: none;
    height: 40px;
    width: 35px;
    cursor: pointer;
}

.icons-top {
    float: right;
    color: #ffffff;
    padding: 5px;
    margin-bottom: auto;
    margin-left: 50px;
    margin-right: 5px;
    margin-top: 15px;
    flex-shrink: 0;
}

.icons-top a:hover {
    cursor: pointer;
}

.fa-solid.fa-user-large:hover {
    color: hsl(0, 0%, 50%);
}

.fa-regular.fa-heart:hover {
    color: hsl(0, 0%, 50%);
}

.fa-solid.fa-bag-shopping:hover {
    color: hsl(0, 0%, 50%);
}

.fa-regular.fa-circle-question:hover {
    color: hsl(0, 0%, 50%);
}

.icons-top i {
    margin-right: 15px;
}

main {
    margin-left: 10vw;
    margin-right: 10vw;
}
/* navi bar */
.navbar {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    cursor: pointer;  
}

.dropdown.active > .link, .link:hover {
    color: hsl(0, 0%, 47%);
    text-decoration: underline;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + 0.25rem);
    background-color: #ffffff;
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.information-links {
    display: grid;
    grid-template-columns: repeat(1, max-content);
    gap: 2rem;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
/* carousel */
.carousel-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 4rem;
    text-align: center;
}

.carousel-pix {
    position: relative;
    width: 100px;
    height: 100px;
    flex-shrink: 1;
}

.box-1 {
    background-color: #1f22d1;
    flex-shrink: 2;
}

.box-2 {
    background-color: #cf33c8;
    flex-shrink: 1;
}

.box-3 {
    background-color: #c7e640;
    flex-shrink: 1;
}

.box-4 {
    background-color: #6dd653;
    flex-shrink: 0;
}

.box-5 {
    background-color: #e91f1f;
}


/* footer */
footer {
    height: var(--footer-height);
    position: relative;
    display: block;
    clear: both;
    background-color: #132d57;
    text-align: center;
    padding: 1px;
    color: white;
}

.logo-footer {
    position: absolute;
    display: block;
}

.icons-footer a {
    text-decoration: none;
    margin-right: 10px;
}

/* Screen size*/
@media screen and (max-width: 400px) {
    main{
        width: 100%;
        height: auto;
    }

}
