html{
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}
/* header */
header {
    background-image: url(/images/header-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-container{
    display: flex;
    color: #ffffff;
    height: 250px;
}

.logo-header{
    margin-left: 10px;
    height: 80px;
    border: solid 2px white;
    background-color: #303235;
    font-weight: bold;
    text-align: center;
    flex-shrink: 0;
}

.search-container{
    float: left;
    margin-right: auto;
    margin-top: 15px;
    margin-left: 15px;
    flex-grow: 1;
}

.search-container input[type="text"]{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px 0px 0px 20px;
    border: solid 1px;
    border-right: none;
    width: 90%;
    height: 40px;
    text-indent: 10px;
    font-size: 1.2rem;
}

input:focus{
    outline: none;
}

.search-container button{
    float: right;
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0px 20px 20px 0px;
    border: solid 1px;
    border-left: none;
    height: 40px;
    width: 35px;
    cursor: pointer;
}

.icons-top{
    float: right;
    color: #ffffff;
    padding: 5px;
    margin-bottom: auto;
    margin-left: 50px;
    margin-right: 5px;
    margin-top: 15px;
}
.icons-top a:hover{
    cursor: pointer;
}
.fa-solid.fa-user-large:hover{
    color: hsl(0, 0%, 50%);
}

.fa-regular.fa-heart:hover{
    color: hsl(0, 0%, 50%);
}

.fa-solid.fa-bag-shopping:hover{
    color: hsl(0, 0%, 50%);
}

.fa-regular.fa-circle-question:hover{
    color: hsl(0, 0%, 50%);
}

.icons-top i{
    margin-right: 15px;
}

.header-txt {
    display: block;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: auto;
}
/* main content */
.navbar{
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
    list-style: none;
}

.navbar ul{
    display: inline-block;
    font-size: 1.5em;
}

.navbar ul li {
    display: inline;
}

.navbar a{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
}

.navbar .active{
    font-weight: bold;
}

.navbar a:hover{
    text-decoration: underline;
}

main{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.grid-item{
    display: inline-block;
    border: 1px solid #808080;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 150px;
}

.grid-item:hover{
    border: 1px solid #292929;
    background-color: #6c6e6c;
}

.menu .grid-item img{
    width: 100%;
    height: auto;
}

.grid-item .buttondiv{
    padding: 10px;
    text-align: center;
}

.grid-item p{
    text-align: center;
}

footer{
    position: relative;
    display: block;
    clear: both;
    background-color: #132d57;
    text-align: center;
    padding: 1px;
    color: white;
}

.logo-footer{
    position: absolute;
    display: block;
}

.icons-footer a{
    text-decoration: none;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    main{
        width: 100%;
        height: auto;
    }

}
