html {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*, *::before, *::after{
    box-sizing: border-box;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* header */
header {
    background-image: url(/images/header-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: var(--header-height);
}

.header-container {
    display: flex;
    color: #ffffff;
    height: 180px;
}

.logo-header {
    
    height: 80px;
    border: solid 2px white;
    background-color: #303235;
    font-weight: bold;
    text-align: center;
    flex-shrink: 0;
}

.search-container {
    float: left;
    margin-right: auto;
    margin-top: 15px;
    margin-left: 15px;
    flex-grow: 1;
}

.search-container input[type="text"] {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px 0px 0px 20px;
    border: solid 1px;
    border-right: none;
    width: 90%;
    height: 40px;
    text-indent: 10px;
    font-size: 1.2rem;
}

input:focus {
    outline: none;
}

.search-container button {
    float: right;
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0px 20px 20px 0px;
    border: solid 1px;
    border-left: none;
    height: 40px;
    width: 35px;
    cursor: pointer;
}

.icons-top {
    float: right;
    color: #ffffff;
    padding: 5px;
    margin-bottom: auto;
    margin-left: 50px;
    margin-right: 5px;
    margin-top: 15px;
    flex-shrink: 0;
}

.icons-top a:hover {
    cursor: pointer;
    color: hsl(0, 0%, 50%);
}

.icons-top i {
    margin-right: 15px;
}

main {
    margin-left: 10vw;
    margin-right: 10vw;
}
/* navi bar */
.navbar {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-content: baseline;
    padding: .5rem;
    gap: 1.2rem;
    margin-bottom: 30px;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;  
}

.dropdown-arrow::after {
    display: inline-block;
    content: " â®";
    transform: translateY(10%) rotate(-90deg);
    transition: transform 150ms ease;
}

.dropdown.active > .dropdown-arrow::after {
    color: hsl(120, 75%, 50%);
    transform:  rotate(90deg);
    transition: transform 150ms ease;
}

.dropdown.active > .link, .link:hover{
    color: hsl(0, 0%, 50%);
    font-weight: bold;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + 0.25rem);
    background-color: #ffffff;
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    z-index: 2;
    transform: translateY(0);
    pointer-events: auto;
}

.information-links {
    display: grid;
    grid-template-columns: repeat(1, max-content);
    gap: 2rem;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
/* carousel */
.carousel-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;    
}

.carousel-slides {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.carousel-slides > img {
    display: block;
    width: 100%;
    height: 350px;
    transition: transform 300ms ease;

}

.carousel-slides[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.bookmark-slide {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    color: white;
    background-color: none;
    cursor: pointer;
}

.bookmark-slide:hover {
    color: hsl(350, 100%, 71%);
}

.text-slide {
    display: block;
    border: 1px solid hsl(0, 1%, 80%);
    background-color: white;
    color: rgb(255, 0, 0);
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.carousel-button {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: .75rem;
    font-size: 2rem;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: 600ms ease;
}

.prev {
    left: 0px;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.test {
    overflow: hidden;
}
/* footer */
footer {
    height: var(--footer-height);
    position: relative;
    display: block;
    clear: both;
    background-color: #132d57;
    text-align: center;
    padding: 1px;
    color: white;
    margin-top: 30px;
}

.logo-footer {
    position: absolute;
    display: block;
}

.icons-footer a {
    text-decoration: none;
    margin-right: 10px;
}

/********************* Sport.html *********************/
.path > a {
    text-decoration: inherit;
    color: inherit;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
}

.button-filter {
    background-color: #ffffff;
    color: inherit;
    font-size: inherit;
    min-height: 2.2rem;
    height: auto;
    text-transform: capitalize;
    border-radius: 10px;
    border: 2px solid black;
    justify-content: center;
    padding: 5px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.main-course::after {
    content: " course";
}

.button-filter:hover, .active {
    background-color: hsl(197, 86%, 47%);
    color: white;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    padding: 2rem 0;
}

.card {
    max-width: 400px;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1rem 2rem 2.5rem rgba(1, 2, 68, 0.05);
}

.hide {
    display: none;
}

.image-container {
    text-align: center;
}

.image-container > img {
    max-width: 100%;
    height: 240px;
    object-fit: contain;
}

.anchor-container {
    text-decoration: none;
    color: inherit;
}

/* Screen size*/
@media screen and (max-width: 400px) {
    main{
        width: 100%;
        height: auto;
        margin: auto;
    }

}


